

.actionBar,
.topBar, .searchBar {
    display: flex;
    align-items: center;
    gap: 0.5rem;

}


.bubbleButton {
    width: 30px;
    height: 30px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #f0f0f0;
    border-radius: 4px;
    cursor: pointer;
}

.bubbleButton:hover {
    background: #e0e0e0;
}

.bubbleMenu {
    display: flex;
    flex-direction: row;
}

.button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 0.375rem;  /* 6px */
    cursor: pointer;

    background-color: #38383a; /* indigo */
    color: #f5f5f5;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: #636367; /* slightly lighter indigo */
}

.button:active {
    transform: scale(0.97); /* subtle press effect */
}

.button:disabled {
    background-color: #bbb8b8; /* gray */
    cursor: not-allowed;
}